streamlit
sqlalchemy
pandas
numpy
matplotlib
plotly
yfinance
pyodbc
streamlit
numpy
pandas
numpy-financial
pillow
selenium
requests
openpyxl
PyMuPDF
beautifulsoup4
pandas-datareader
